* {
    margin: 0;
    padding: 0;
}

body {
    font: 2.25rem "Century Gothic", Futura, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 5rem;
    line-height: 6.5rem;
    height: 6.5rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 6.5rem;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}